{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block accounts %}
    {% if user.is_authenticated %}
         <span class="text-muted">Welcome!&nbsp{{user.first_name}}</span>
        <div>
            <a href="{% url 'index' %}">Home</a> |
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    {% else %}
        <span class="text-muted">Welcome!</span>
        <div>
            <a href="{% url 'login' %}">Sign in</a> |
            <a href="{% url 'register' %}"> Register</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<!--Products List-->
<section class="sdetail bg-secondary">
    <div class="container-fluid">

        <div class="row mt-5">
            {% for i in product %}
            <div class="col-md-2" id="cards">
                <div class="card  bg-dark" style="width: 18rem;">
                    <a href="{{ i.get_url }}"><img class="card-img-top" src="{{MEDIA_URL}}{{i.image.url}}" height="300px" alt="Card image cap"></a>
                    <div class="card-body">
                        <center><bold><a href="{{ i.get_url }}" class="card-text text-white">{{i.product_name}}</a></bold></center>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!--Products List-->
{% endblock %}

{% block sweet %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for msg in messages %}
        swal("Sorry!", "{{msg}}");
    {% endfor %}
</script>
{% endblock %}



